# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
DB
DB/tiktok_data/**
DB/blogers/**
scripts/DB/tiktok_data
scripts/auth/.tiktok_profile/**
public/**
scripts/scrape/.tiktok_profile/**

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
